.main {
    height: 100%;
}

.principale {
    width: 1200px;
    height: 100%;
    margin: auto;
    padding: 0 30px;
}

.bloc-card {
    height: 100%;
}

.listelogements {
    display: flex;
    flex-wrap: wrap;
    background: #F7F7F7;
    justify-content: center;
    margin: 40px 0;
    border-radius: 25px;
    padding: 25px;
}

.appartement {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 30%;
    margin: 15px;
}

@media screen and (max-width: 890px) {
    .principale {
        width: 500px;
    }
    .listelogements {
        width: 100%;
        padding: 0;
        border-radius: 0;
        background: #fff;
    }
    .appartement {
        width: 100%;
        margin: 0px;
    }
    .footer {
        position: initial;
    }
    .bloc-card {
        height: 95%;
    }
}

@media screen and (min-width: 890px)and (max-width: 1244px) {
    .principale {
        width: 830px;
    }
}